<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</head>

<body class="bg-dark">
    <div class="container">
        <!-- ------------------------------------------------------------------------- -->
        <div class="row0-md mt-2">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <div class="col-3">
                    <a class="navbar-brand" href="/">HOME</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div class="col">
                    
                </div>
            </nav>
        </div>

        <!-- ------------------------------------------------------------------------- -->
        <div class="row1-md mt-2">

            <div class="card1 d-flex flex-wrap justify-content-center mt-2">
                <div class="drag-area">
                    <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                    <button>Browse File</button>
                    <input type="file" hidden>
                </div>

                <style>
                    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
                    
                    .drag-area{
                    border: 2px dashed #fff;
                    height: 200px;
                    width: 400px;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    }
                    .drag-area.active{
                    border: 2px solid #fff;
                    }
                    .drag-area .icon{
                    font-size: 100px;
                    color: #fff;
                    }
                    .drag-area header{
                    font-size: 30px;
                    font-weight: 500;
                    color: #fff;
                    }
                    .drag-area span{
                    font-size: 25px;
                    font-weight: 500;
                    color: #fff;
                    margin: 10px 0 15px 0;
                    }
                    .drag-area button{
                    padding: 10px 25px;
                    font-size: 20px;
                    font-weight: 500;
                    border: none;
                    outline: none;
                    background: #fff;
                    color: #5256ad;
                    border-radius: 5px;
                    cursor: pointer;
                    }
                    .drag-area img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                    }
                </style>
            </div>
            <div class="card-review d-flex flex-wrap justify-content-center mt-2">

            </div>
            <div class="card2 d-flex flex-wrap justify-content-center mt-2">

            </div>

        </div>

        <ul class="pagination mt-1 d-flex flex-wrap justify-content-center">
            <li class="page-item">
                <a class="page-link " href="#" tabindex="-1" aria-disabled="true" onclick="f1();"></a>
            </li>


            <li class="page-item">
                <a class="page-link" href="#" onclick="f2();"></a>
            </li>
        </ul>


        <div class="card bg-light text-dark mt-1">
            <div class="card-header">
                <h5 class="card-title">Movie4Fun</h5>
            </div>
        </div>
        <!-- ------------------------------------------------------------------------- -->
    </div>
    <script type="text/javascript">
        $().ready(() => {
            $('#search-form').on('submit', handleDetectActor);
    });
    </script>
    <script src="./actors.js"></script>
    <script>
        const dropArea = document.querySelector(".drag-area"),
                button = dropArea.querySelector("button"),
                input = dropArea.querySelector("input");
            let file; //this is a global variable and we'll use it inside multiple functions
            button.onclick = () => {
                input.click(); //if user click on the button then the input also clicked
            }
            input.addEventListener("change", function () {
                //getting user select file and [0] this means if user select multiple files then we'll select only the first one
                file = this.files[0];
                dropArea.classList.add("active");
                handleDetectActor(file)
            });
    </script>
</body>

</html>