
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        function navigatePage(page = '/') {
            window.location.href = page;
        }
    </script>
</head>

<body class="bg-dark">
    <div class="container">
        <!-- ------------------------------------------------------------------------- -->
        <div class="row0-md mt-2">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <div class="col-3">
                    <a class="navbar-brand" href="/">HOME</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                </div>
                <div class="col">
                    <form class="form-inline my-2 my-lg-0 " id="search-form" style="
                            display: flex;
                            justify-content: flex-end;
                        ">
                        <input class="form-control w-50 search-input" type="search" placeholder="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0 ml-3" type="submit">Search</button>
                        <button class="btn btn-info my-2 my-sm-0 ml-3" onclick="navigatePage('/actors')">Search by images</button>
                    </form>
                </div>
            </nav>
        </div>
        
        <div class="row1-md mt-2 search-tools">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <form class="form-inline my-2 my-lg-0 " id="filter-form">
                    <div class="form-group ml-2">
                        <label for="soryBy">Sort by</label>
                        <select class="form-control ml-2" id="soryBy">
                            <option  value=""></option>
                        <option  value="release_date.desc">Release Date - DESC</option>
                          <option value="release_date.asc">Release Date - ASC</option>
                          <option  value="popularity.asc">Popularity - ASC</option>
                          <option  value="popularity.asc">Popularity - DESC</option>
                          <option  value="vote_count.asc">Vote Count - ASC</option>
                          <option  value="vote_count.asc">Vote Count - DESC</option>
                        </select>
                    </div>

                    <div class="form-group ml-2">
                        <label for="year">Release Year</label>
                        <select class="form-control ml-2" id="year">
                            <option  value=""></option>
                        </select>
                    </div>

                    <div class="form-group ml-2">
                        <label for="Genres">Genres</label>
                        <select class="form-control ml-2" id="Genres">
                            <option  value=""></option>
                        </select>
                    </div>

                    <div class="form-group ml-2">
                        <label for="Actors">Actors</label>
                        <select class="form-control ml-2" id="Actors">
                            <option  value=""></option>
                        </select>
                    </div>

                      <button class="btn btn-outline-success my-2 my-sm-0 ml-3 mb-2" type="submit">Filter</button>
                </form>
                
            </nav>
        </div>

        <!-- ------------------------------------------------------------------------- -->
        <div class="row1-md mt-2">
        	
            <div class="card1 d-flex flex-wrap justify-content-center mt-2">

            </div>
            <div class="card-review d-flex flex-wrap justify-content-center mt-2">
                
            </div>
			<div class="card2 d-flex flex-wrap justify-content-center mt-2">
                
            </div>
            
        </div>

        <ul class="pagination mt-1 d-flex flex-wrap justify-content-center">
            <li class="page-item">
              <a class="page-link " href="#" tabindex="-1" aria-disabled="true" onclick="f1();"></a>
            </li>
            
            
            <li class="page-item">
              <a class="page-link" href="#" onclick="f2();"></a>
            </li>
        </ul>
        

        <div class="card bg-light text-dark mt-1">
                <div class="card-header"><h5 class="card-title">Movie4Fun</h5></div>
        </div>
        <!-- ------------------------------------------------------------------------- -->
    </div>
    <script type="text/javascript">
    $().ready(() => {
        $('#search-form').on('submit', Search);
        ShowDetailMovie({{movieId}})
    });
    </script>
    <script src="./detail.js"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
</body>

</html>